<script>
    function getDateFromISO(iso_string) {
        iso_string = iso_string.replace(/\D/g," ");
        var date_components = iso_string.split(" ");
        return Date.UTC(parseInt(date_components[0]),parseInt(date_components[1]) - 1, parseInt(date_components[2]),
                        parseInt(date_components[3]),parseInt(date_components[4]),parseInt(date_components[5]));
    }

    function getCorrectEnding(value_input) {
        var val = Math.abs(value_input);
        if(val==1 || (val % 100 > 20 && val % 10 == 1)) {
            return 0;
        }
        var endingGroup2 = [2, 3, 4];
        if(endingGroup2.includes(val) || (val % 100 > 20 && endingGroup2.includes(val % 10))) {
            return 1;
        }
        return 2;
    }


    function parseTimestamp(iso_string) {
        var inputDate = getDateFromISO(iso_string);
        var retDate = {};
        retDate.total_minutes = parseInt((Date.now() - inputDate) / 1000 / 60);
        retDate.hours = parseInt(retDate.total_minutes / 60);
        retDate.days = parseInt(retDate.hours / 24);
        retDate.months = parseInt(retDate.days / 30);
        retDate.years = parseInt(retDate.days / 365);
        retDate.minutes = retDate.total_minutes - retDate.hours * 60;
        return retDate;
    }


    function getTimeFromNow(date, action_string="Обновлено") {
        var out_str = ""
        if (date.total_minutes == 0) {
            out_str = action_string + " менее минуты назад";
        }
        else if (date.total_minutes < 0) {
            out_str = "Проверьте настройки времени";
        }
        else {
            if (date.months > 0) {
                out_str += date.months;
                switch(getCorrectEnding(date.days)) {
                    case 0:
                        out_str += " месяц ";
                        break;
                    case 1:
                        out_str += " месяца ";
                        break;
                    default:
                        out_str += " месяцев ";
                        break;
                }
            }
            else {
                if (date.days > 0) {
                    out_str += date.days;
                    switch(getCorrectEnding(date.days)) {
                        case 0:
                            out_str += " день ";
                            break;
                        case 1:
                            out_str += " дня ";
                            break;
                        default:
                            out_str += " дней ";
                            break;
                    }
                }
                else {
                    if (date.hours > 0) {
                        out_str += date.hours;
                        switch(getCorrectEnding(date.hours)) {
                            case 0:
                                out_str += " час ";
                                break;
                            case 1:
                                out_str += " часа ";
                                break;
                            default:
                                out_str += " часов ";
                                break;
                        }
                    }
                    if (date.minutes > 0) {
                        out_str += date.minutes;
                        switch(getCorrectEnding(date.minutes)) {
                            case 0:
                                out_str += " минуту ";
                                break;
                            case 1:
                                out_str += " минуты ";
                                break;
                            default:
                                out_str += " минут ";
                                break;
                        }
                    }
                }
            }
            out_str = action_string + " " + out_str + "назад";
        }
        return out_str;
    }
</script>