<script>
    function getDateFromISO(iso_string) {
        iso_string = iso_string.replace(/\D/g," ");
        var date_components = iso_string.split(" ");
        return Date.UTC(parseInt(date_components[0]),parseInt(date_components[1]) - 1, parseInt(date_components[2]),
                        parseInt(date_components[3]),parseInt(date_components[4]),parseInt(date_components[5]));
    }

    function getCorrectEnding(value_input) {
        var val = Math.abs(value_input);
        if(val==1 || (val % 100 > 20 && val % 10 == 1)) {
            return 0;
        }
        var endingGroup2 = [2, 3, 4];
        if(endingGroup2.includes(val) || (val % 100 > 20 && endingGroup2.includes(val % 10))) {
            return 1;
        }
        return 2;
    }

    function getTimeFromNow(iso_string, action_string="Обновлено") {
        var inputDate = getDateFromISO(iso_string);
        var elapsed_minutes_total = parseInt((Date.now() - inputDate) / 1000 / 60);
        var elapsed_hours = parseInt(elapsed_minutes_total / 60);
        var elapsed_days = parseInt(elapsed_hours / 24);
        var elapsed_minutes = elapsed_minutes_total - elapsed_hours * 60;
        var out_str = ""
        if (elapsed_minutes_total == 0) {
            out_str = action_string + " менее минуты назад";
        }
        else if (elapsed_minutes_total < 0) {
            out_str = "Проверьте настройки времени";
        }
        else {
            if (elapsed_days > 0) {
                out_str += elapsed_days;
                switch(getCorrectEnding(elapsed_days)) {
                    case 0:
                        out_str += " день ";
                        break;
                    case 1:
                        out_str += " дня ";
                        break;
                    default:
                        out_str += " дней ";
                        break;
                }
            }
            else {
                if (elapsed_hours > 0) {
                    out_str += elapsed_hours;
                    switch(getCorrectEnding(elapsed_hours)) {
                        case 0:
                            out_str += " час ";
                            break;
                        case 1:
                            out_str += " часа ";
                            break;
                        default:
                            out_str += " часов ";
                            break;
                    }
                }
                if (elapsed_minutes > 0) {
                    out_str += elapsed_minutes;
                    switch(getCorrectEnding(elapsed_minutes)) {
                        case 0:
                            out_str += " минуту ";
                            break;
                        case 1:
                            out_str += " минуты ";
                            break;
                        default:
                            out_str += " минут ";
                            break;
                    }
                }
            }
            out_str = action_string + " " + out_str + "назад";
        }
        return out_str;
    }
</script>