<script>
    function getDateFromISO(iso_string) {
        iso_string = iso_string.replace(/\D/g," ");
        var date_components = iso_string.split(" ");
        return Date.UTC(parseInt(date_components[0]),parseInt(date_components[1]) - 1, parseInt(date_components[2]),
                        parseInt(date_components[3]),parseInt(date_components[4]),parseInt(date_components[5]));
    }

    function getTimeFromNow(iso_string) {
        var inputDate = getDateFromISO(iso_string);
        var elapsed_minutes_total = parseInt((Date.now() - inputDate) / 1000 / 60);
        var elapsed_hours = parseInt(elapsed_minutes_total / 60);
        var elapsed_minutes = elapsed_minutes_total - elapsed_hours * 60;
        var out_str = ""
        if (elapsed_minutes_total == 0) {
            out_str = "Обновлено менее минуты назад";
        }
        else if (elapsed_minutes_total < 0) {
            out_str = "Проверьте настройки времени";
        }
        else {
            if (elapsed_hours > 0) {
                out_str += elapsed_hours + " часов ";
            }
            if (elapsed_minutes > 0) {
                out_str += elapsed_minutes_total + " минут ";
            }
            out_str = "Обновлено " + out_str + "назад";
        }
        return out_str;
    }
</script>