<script>

    var request_big_counter = 8;
    const request_big_interval = 10;
    var request_counter = 29;
    const request_interval = 30;
    var stDate, finDate;


    function obtainDataSetID() {
        dataset_id = $( "#dataSetID" ).val();
    };

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    };

    function requestData(parameters) {
        diagData.time_to_request = ++request_counter;
        if (request_counter < request_interval) {
            return;
        }
        if (diagData.request_in_progress) {
            console.log("Skipping request - last one is in progress");
            return;
        }
        request_counter = 0;
        diagData.request_in_progress = true;
        stDate = new Date();
        var temp_parameters = JSON.parse(JSON.stringify(parameters));
        var rqType = "standard";
        diagData.time_to_big_request = ++request_big_counter;
        if(request_big_counter >= request_big_interval) {
            rqType = "extended";
            var initDate = new Date();
            initDate.setHours(stDate.getHours() - 12);
            temp_parameters.date_start = initDate.toISOString();
            temp_parameters.number = 400;
            request_big_counter = 0;
        }
        $.post("/datacon/display/webapi", {settings: JSON.stringify(temp_parameters)}, processCoreData);
    };

    $( document ).ready(function() {
        csrftoken = Cookies.get('csrftoken');
        obtainDataSetID();
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        var parameters_small = {
            dataset: dataset_id,
            only_valid: true,
            round_numerics: 2,
            get_limits: 1,
            diag_info: true,
            get_trends: [10800, 86400]
        };
        diagData.request_in_progress = false;
        requestData(parameters_small);
        setInterval(requestData, 1000, parameters_small);
    });
</script>