<!doctype html>
<html lang="ru">
{% include "elements/header.html" %}
<body>
    {% include "scripts/basic.html" with vuejs=True %}
    {% csrf_token %}
    <input type="hidden" id="dataSetID" value="{{ dataset_id }}"/>
    <div class="container">
        <div class="card-columns" id="main-app">
            <!-- cards here -->
            <datatag-item v-for="rdg in tags"
                v-bind:rdg="rdg"
                v-bind:key="rdg.id">
            </datatag-item>
        </div>
    </div>
    <!-- Vue here -->
    {% include "elements/wdv_widget.html" %}
    {% include "scripts/convert_date.html" %}
    {% include "scripts/wdv_vue.html" %}

</body>
</html>